*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'poppins';
    src: url('./font/Poppins-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('./font/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

:root{
    --hit: #d4595d;
    --ship: #97eba5;
    --ship-moving: #76b6c4;
    --miss: #7fcdff;
    --win: #97e5a0;
    --text-dark: #064273;
    --display-bg : #def3f6;
}

body{
    font-family: 'poppins', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-dark);
    height: 100vh;
}

body > div{
    width: 100%;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.5rem;
}

/******************
HEADER
******************/

.header{
    padding: 32px 0;
    display: flex;
    justify-content: center;

}

/******************
CONTENT
******************/
.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.board-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/******************
DISPLAY
- Show the rules
- Show if win or loose
******************/

.display{
    padding: 16px;
    border: 1px solid var(--text-dark);
    background-color: var(--display-bg);

    min-width: 320px;
    max-width: 360px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.message{
    font-style: italic;
    font-size: 0.8rem;
}

.message-italic{
    font-style: italic;
    font-size: 0.8rem;
}

.button-div{
    margin-top: auto;
}

button{
    padding: 8px 0px;
    width: 108px;
    border: 1px solid var(--text-dark);
    background-color: var(--miss);
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

button:hover{
    cursor: pointer;
    border: 1px solid var(--miss);
    background-color: var(--text-dark);
    color: var(--display-bg);
    }

/******************
GAME BOARD
******************/

.p1-container, 
.p2-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-dark);
}

.board-container p{
    font-size: 1.1rem;
    font-weight: 300;
}

.board{
    display: flex;
    flex-wrap: wrap;
    width: 258px;
    aspect-ratio: 1;
    z-index: 1;
}

.cell{
    border: 1px dotted var(--miss);
    flex: 1 0 10%;
    transition: all 0.15s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25.8px;
    aspect-ratio: 1;
    font-weight: 700;
    font-size: 1.1rem;
}

/******************
GAME BOARD
******************/

.footer{
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-top: 1px solid var(--text-dark);
}


.footer a{
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    color: var(--text-dark);
    transition: all 0.2s ease-in-out;
}

svg:hover{
    color: var(--miss);
    transform: scale(1.1);
}
/*
JS CLASS
*/

.moving{
    background-color: var(--ship-moving)
}

.moving-invalid{
    background-color: var(--hit) ;
}

.moving-invalid::after{
    content: "🚫";
}

.hide{
    display: none;
}

.win{
    background-color: var(--win);
}

.lost{
    background-color: var(--hit);
}

.ship{
    background-color:var(--ship);
    border: 0;
}

.miss{
    background-color: var(--miss);
}

.miss::after{
    content: "·";
}

.hit{
    background-color: var(--hit);
}

.hit::after{
    content: "×";
}
